html {
	background: url(images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:'Junge', serif;color:red;font-size:17;
}

blockquote {
		margin-bottom: 0.5em;
		margin-top: 0.5em;
		margin-left: 0.1em;
		padding: 0;
		color: rgb(255, 0 ,0);
		padding-left: 0.6em;
		border-left: solid 4px;
		background-image: none;
}

#container {width: 750px; margin: 0 auto; padding: 20px; background: rgba(0, 14, 15, 0.8);}

#header {text-align: center;margin-bottom: 40px;}
#logo img {width: 100%%; height: auto; max-width: 400px;margin: 0px 0 0 0;}
#logo {margin: auto;}

#logo h1 { margin: 0 0 10px 0; font-size: 36px;color: white;}
#logo h1 a {color: #FFF; text-align: center;margin:0;}
.slogan {font-family:'Junge';font-weight: bold;text-align: center;margin-bottom:10px;color:white; font-size:22;}

#content {width:640px;margin-left:auto;margin-right:auto;}
	
#ware {
	   position: relative;   
	   height: auto; width: 82%;    
	   left: 10%; top: 100px;    
	} 
	

	
	
	
#footer img{float: left;margin-right:50px;} 
#footer h2 {padding: 50px;font-size: 22px;color: white;}
#footer {height:200px;}

